<div *ngIf="hero">

    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div>
      <label for="hero-name">Hero name: </label>
      <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
    </div>
  
</div>

<label for="pet">Pet:</label>
<select name="pet" [(ngModel)]="selectedPet">
  <option *ngFor="let pet of pets" [value]="pet">{{ pet.name }}</option>
</select>

  <button type="button" (click)="goBack()">go back</button>
  <button type="button" (click)="save()">save</button>
